.coursSession{
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;

    h1{
        color: rgb(195, 159, 228);
    }
    .Session{
        display: flex;
        flex-direction: row;
        justify-items: space-evenly;
        margin-right: 2rem;
        

    }

    .cours{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: double 3px black;
        border-radius: 10%;
        background-color: rgb(221, 207, 238);
        height: 20vh;
        width: 20vh;
        .cours_session{
           
           display: flex;
           justify-content: center;
           p{
               display: none;
           }
           h2{
               display: none;
           }
           a{
            writing-mode: vertical-lr;
           
           }
        }
    }
}
.cours:hover{
      background-color: rgb(239, 234, 243);  
}
@include desktop{

    .coursSession{

        .cours{
            
            width: 45vh;

            .cours_session{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    display: block;
                }
                a{
                 writing-mode: horizontal-tb;
                 text-decoration: none;
                
                }
             }
            
        }
}
}